.upload-window {
    display: none;
    padding: 5px;
}

.search-panel {
    background-color: rgb(242, 242, 242);
    height: 38px;
    width: 98%;
    margin-top: 20px;
    padding: 6px 1%;
}

#loginOut {
    position: absolute;
    right: 20px;
}