<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{'/plugins/layui-v2.5.4/css/layui.css'}">
    <link rel="stylesheet" th:href="@{'/css/preview.css'}">
    <title>Preview</title>
</head>
<body>
    <image th:if="${#strings.contains(fileInfo.contentType,'image')}" th:src="@{'/fileInfo/previewData/' + ${fileInfo.id}}">

    </image>
    <video th:if="${#strings.contains(fileInfo.contentType,'video')}" th:src="@{'/fileInfo/previewData/' + ${fileInfo.id}}" controls="controls">
        您的浏览器不支持。
    </video>
    <iframe th:if="${#strings.contains(fileInfo.contentType,'pdf') ||
    #strings.contains(fileInfo.contentType,'octet-stream') ||
    #strings.contains(fileInfo.contentType,'plain') ||
    #strings.contains(fileInfo.contentType,'zip')
    }" th:src="@{'/fileInfo/previewData/' + ${fileInfo.id}}">

    </iframe>



<script th:src="@{'/plugins/jQuery/jquery-3.4.1.min.js'}"></script>
<script th:src="@{'/plugins/layui-v2.5.4/layui.js'}"></script>
<script th:src="@{'/js/preview.js'}"></script>
</body>
</html>